doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
	<!-- bower:js -->
	<!-- endbower -->
	// bower.js
	// endbower
  body
    block content
   	<!-- bower:js -->
	<!-- endbower -->