<div class="row" ng-if="docker!== null">
   <div class="col-lg-12">
		<div class="panel panel-default"  id="containerTableWrapper" >
			<div class="panel-heading" >
				<span class="glyphicon glyphicon-list-alt"> </span>
				&nbsp; Containers List {{docker.id}}

				<div class="filters" style='float: right;' >

					<label class="checkbox-inline" >
						<select class="form-control" ng-model="opts.when" >	
							<option value="since" > Since </option>
							<option value="before"> Before </option>
						</select>
						<input type="text" ng-change="getContainers()" ng-model="opts[opts.when]"  id="containerDateTimeFilter" />
					</label>  &nbsp;

					<label class="checkbox-inline" >
						<input type='checkbox' ng-change="getContainers()" ng-model="opts.size" ng-true-value="1"  ng-false-value="0" />
					 Include Size?
					</label>  &nbsp;
					| &nbsp;
					<label class="checkbox-inline" > 
						<input type='checkbox'  name="fetchAllContainer" ng-change="getContainers()" ng-model="opts.all" ng-true-value="1"  ng-false-value="0"  /> Fetch All? 
					</label>  &nbsp;
					| &nbsp;
					<label> 
						Limit to: 
						<input type='number' ng-change="getContainers()" ng-model="opts.limit" size='3' placeholder="100" style="width:60px"   />
					 </label>  &nbsp;
					| &nbsp;					
					<label> Search</label>
					<input type='text' ng-model='filterContainer'  />
				</div>
				<div style="float:none; clear:both"></div>
				
			</div>
			<div class="panel-body table-responsive">
				<table class="table table-striped table-bordered">
					<thead ng-hide="hasLoaded !== 1">
						<tr>
							<th> # </th>
							<th> ID  </th>
							<th> Image  </th>
							<th> Command  </th>
							<th> Created  </th>
							<th> Status  </th>
							<th> Ports  </th>
							<th> SizeRw  </th>
							<th> SizeRootFs  </th>
							<th> Names  </th>


						</tr>
					</thead>
					<tbody>

							<tr colspan="10" ng-hide="hasLoaded === 1">
								<img src="/images/preloader.gif" alt="loading..." ng-hide="hasLoaded === 1|| hasLoaded === -1" />
								<div class="alert alert-danger" ng-hide="hasLoaded !== -1">
                               	  	Failed to load containers. <a href="#" class="alert-link" ng-click="getContainers()" > Try Again </a>.
                         	  	 </div>
							</tr>

							<tr ng-repeat="container in containers | filter:filterContainer | orderBy: container.Created">
								<td> {{ $index + 1 }} </td>
								<td> <a href="#" ng-click="inspectContainer(container.Id)" container-id="{{ container.Id }}" ><span class="label label-info" title="{{ container.Id }}">{{ container.Id.substring(0, 14) }} </span> </a>  </td>
								<td> {{ container.Image }} </td>
								<td> {{ container.Command }} </td>
								<td> {{ container.Created }} </td>
								<td> {{ container.Status }} </td>
								<td> {{ container.Ports }} </td>
								<td> {{ container.SizeRw }} </td>
								<td> {{ container.SizeRootFs }} </td>
								<td> {{ container.Names }} </td>
								<td>
									<a href="#" ui-sref="dockers.list.containers.top({id: docker.id , cid:container.Id})"   class="label label-warning action-refresh" container-id="{{ container.Id }}" >
										<span class="glyphicon glyphicon-search"  data-toggle="tooltip" data-placement="bottom" title="Refresh"> </span>
									</a> &nbsp;
								</td>
							</tr>

					</tbody>
			</table>
			</div>
		</div>


   </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
   <div class="col-lg-12">
        <div ui-view="processes" > </div>
   </div>
    <!-- /.col-lg-12 -->
</div>
